html {
	font-family:monospace;
	font-size:24px;
}
body {
	background-color:#000;
	padding-top: 16px;
	padding-bottom: 16px;
	margin:0px auto;
	left:0;
	right:0;	
}
div {
	position:relative;
	left:0px;
	white-space:pre;
	line-height:1em;
	height:1em;
	vertical-align:top;
	overflow:hidden;
	text-overflow:clip;
}
span {
	line-height:1em;
	height:1em;
}
