@font-face {
    font-family: 'Vga Unicode';
    src: url('VgaUnicode9.woff'); format('woff');
}
html {
}
body {
    font-family:    'Vga Unicode';
    font-size:      16px;
    padding-top:    1em;
    padding-bottom: 1em;
    left:           0;
    right:          0;    
    position: relative;
}
.vtx {
    position:       relative;
    left:           0px;
    line-height:    1em;
    height:         1em;
    vertical-align: top;
    overflow:       hidden;
    text-overflow:  clip;
}
#vtxpage {
    min-height:     95vh;
    margin:         0px auto;
    padding:        0px;
    border:         0px;
    overflow:       hidden;
    text-overflow:  clip;
    z-index:        0;
}
#vtxtext {
    width:          100%;
    margin:         0px;
    padding:        0px;
    border:         0px;
    overflow:       hidden;
    text-overflow:  clip;
    z-index:        10;
}
.fade {
    opacity:    .5;
    background: #000055;
}
