/* dafault font */
@font-face {
    font-family: u_vga16;
    src: url("u_vga16.woff") format("woff");
}

/* fonts for alternates - remove if you will never need these */
@font-face {
    font-family: MicroKnight;
    src: url("MicroKnight.woff") format("woff");
}

@font-face {
    font-family: MicroKnightPlus;
    src: url('MicroKnightPlus.woff') format('woff');
}

@font-face {
    font-family: mOsOul;
    src: url("mOsOul.woff") format("woff");
}

@font-face {
    font-family: P0T-NOoDLE;
    src: url("P0T-NOoDLE.woff") format("woff");
}

@font-face {
    font-family: Topaz;
    src: url("Topaz_a1200.woff") format("woff");
}

@font-face {
    font-family: TopazPlus;
    src: url("TopazPlus_a1200.woff") format("woff");
}

body {
    font-family:    u_vga16;
    font-size:      16px;
    padding-top:    1em;
    padding-bottom: 1em;
    left:           0;
    right:          0;    
    position: relative;
}

/* rows of text */
.vtx {
    position:       relative;
    left:           0px;
    line-height:    1em;
    height:         1em;
    vertical-align: top;
    overflow:       hidden;
    text-overflow:  clip;
}

/* the console page */
#vtxpage {
    min-height:     94vh;
    margin:         0px auto;
    padding:        0px;
    border:         0px;
    overflow:       hidden;
    text-overflow:  clip;
    z-index:        0;
}

/* the text area */
#vtxtext {
    width:          100%;
    margin:         0px;
    padding:        0px;
    border:         0px;
    overflow:       hidden;
    text-overflow:  clip;
    z-index:        10;
    user-select:    none;
}

/* for fading on ul/dl */
.fade {
    opacity:    .5;
    background: #000055;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
